requests==2.18.4
get_all_tickers==1.7
yfinance==0.1.55
alpaca_trade_api==0.53.0
coloredlogs==15.0
opencv_contrib_python==4.2.0.32
numpy==1.13.3
tensorflow==2.4.1
matplotlib==3.2.0
nltk==3.5
pandas==1.1.5
pygooglenews==0.1.2
